body {
  background-color: #fff;
  background-image: url(52c097d7900093d435c2939e4738a42b.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

